body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align:left;
}

.text-big {
    font-size: 50%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 30px;
    
}

